
@import url('https://fonts.googleapis.com/css?family=Lato:300'); 

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Lato';
  font-size: 16px;
}

.layout {
  display: flex;
  min-height: 100vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
}

.container {
  padding: 0.3rem;
  position: relative;
  margin: 0.3rem;
  overflow: hidden;
  margin-right: 20px;
  transition: all 0.2s ease-in-out;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 15px );
    -webkit-backdrop-filter: blur( 15px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  width: 30%;
}


.html,.css,.js,.re,.sql,.py {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 1.85em;
  font-weight: 300;
  transition: all 0.2s ease-in-out;
  background: #4b1aed7b;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 15px );
  -webkit-backdrop-filter: blur( 15px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  
}


.skills {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  color: rgb(255, 255, 255);
}

.html {
  width: 90%;
}
.css {
  width: 80%;
 }
.js {
  width: 65%; 
}
.re {
  width: 55%;
}
.sql {
  width: 0%;
 }
.py {
  width: 45%; 
}